.settings
.project
.classpath
*.pyc
*.o
*.so
*.out
*.txt
*.log
*.dSYM/
*.images
*.labels
*.metadata
*.jar
*/crossbow-vldb16.pdf
doc/papers/16-crossbow-vldb/crossbow-vldb16.pdf
doc/papers/17-crossbow-sosp/crossbow-sosp17.pdf
doc/papers/18-crossbow-sigmod/crossbow-sigmod18.pdf
data
checkpoint
.DS_Store
/target/
